In [21]:
import pandas as pd

In [22]:
business_df = pd.read_csv('linear_reg.csv')

In [23]:
business_df.head()

,interest_rate,fico_range,amount_requested,amount_funded_by_investors,loan_length
0,8.90,735-739,20000.0,20000.0,36.0
1,12.12,715-719,19200.0,19200.0,36.0
2,21.98,690-694,35000.0,35000.0,60.0
3,9.99,695-699,10000.0,9975.0,36.0
4,11.71,695-699,12000.0,12000.0,36.0

In [24]:
business_df.sample(20)

,interest_rate,fico_range,amount_requested,amount_funded_by_investors,loan_length
2016,12.69,695-699,8000.0,8000.00,36.0
1842,20.30,690-694,25200.0,24999.92,60.0
1602,5.79,750-754,2700.0,2700.00,36.0
1467,14.33,675-679,16800.0,16800.00,60.0
830,11.14,700-704,8000.0,8000.00,36.0
252,11.03,685-689,7500.0,0.00,36.0
184,19.05,670-674,4375.0,4375.00,36.0
414,15.81,700-704,10075.0,10075.00,60.0
302,6.62,800-804,16800.0,16800.00,36.0
613,5.42,790-794,4800.0,4800.00,36.0
1282,7.90,725-729,5000.0,5000.00,36.0
111,6.03,815-819,9000.0,9000.00,36.0
1050,12.41,720-724,16750.0,9445.58,36.0
54,17.80,680-684,7325.0,7300.00,60.0
856,12.68,690-694,10000.0,10000.00,36.0
945,6.62,730-734,5375.0,5325.00,36.0
1165,7.51,765-769,8000.0,7575.00,36.0
1930,19.03,680-684,25475.0,25375.00,60.0
1498,12.12,695-699,13800.0,13800.00,36.0
1180,17.56,670-674,14400.0,13714.83,60.0

In [25]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   interest_rate               2498 non-null   float64
 1   fico_range                  2498 non-null   object
 2   amount_requested            2498 non-null   float64
 3   amount_funded_by_investors  2498 non-null   float64
 4   loan_length                 2498 non-null   float64
dtypes: float64(4), object(1)
memory usage: 97.7+ KB

In [26]:
business_df.describe()

,interest_rate,amount_requested,amount_funded_by_investors,loan_length
count,2498.000000,2498.000000,2498.000000,2498.000000
mean,13.070368,12413.030424,12009.280661,41.265012
std,4.178007,7801.222483,7743.387861,9.933753
min,5.420000,1000.000000,-0.010000,36.000000
25%,10.160000,6000.000000,6000.000000,36.000000
50%,13.110000,10000.000000,10000.000000,36.000000
75%,15.800000,17000.000000,16000.000000,36.000000
max,24.890000,35000.000000,35000.000000,60.000000

In [27]:
business_df["fico_low"] = business_df["fico_range"].str.split("-").str[0].astype(int)
business_df["fico_high"] = business_df["fico_range"].str.split("-").str[1].astype(int)
business_df["fico_score"] = (business_df["fico_low"] + business_df["fico_high"]) / 2

business_df = business_df.drop(columns=["fico_range"])

business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   interest_rate               2498 non-null   float64
 1   amount_requested            2498 non-null   float64
 2   amount_funded_by_investors  2498 non-null   float64
 3   loan_length                 2498 non-null   float64
 4   fico_low                    2498 non-null   int64
 5   fico_high                   2498 non-null   int64
 6   fico_score                  2498 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 136.7 KB

In [28]:
business_df.describe()

,interest_rate,amount_requested,amount_funded_by_investors,loan_length,fico_low,fico_high,fico_score
count,2498.000000,2498.000000,2498.000000,2498.000000,2498.000000,2498.000000,2498.000000
mean,13.070368,12413.030424,12009.280661,41.265012,705.858687,709.858687,707.858687
std,4.178007,7801.222483,7743.387861,9.933753,34.994039,34.994039,34.994039
min,5.420000,1000.000000,-0.010000,36.000000,640.000000,644.000000,642.000000
25%,10.160000,6000.000000,6000.000000,36.000000,680.000000,684.000000,682.000000
50%,13.110000,10000.000000,10000.000000,36.000000,700.000000,704.000000,702.000000
75%,15.800000,17000.000000,16000.000000,36.000000,725.000000,729.000000,727.000000
max,24.890000,35000.000000,35000.000000,60.000000,830.000000,834.000000,832.000000

In [30]:
business_df.sample(10)

,interest_rate,amount_requested,amount_funded_by_investors,loan_length,fico_low,fico_high,fico_score
1485,12.12,10000.0,10000.0,36.0,695,699,697.0
1560,7.51,12300.0,12300.0,36.0,735,739,737.0
471,22.95,21000.0,21000.0,60.0,670,674,672.0
373,10.16,12000.0,12000.0,36.0,710,714,712.0
603,10.74,2400.0,2400.0,36.0,705,709,707.0
1358,12.99,14675.0,14650.0,60.0,725,729,727.0
207,7.90,20000.0,20000.0,36.0,755,759,757.0
2285,11.14,11500.0,11475.0,36.0,700,704,702.0
684,7.74,6500.0,6475.0,36.0,785,789,787.0
663,7.90,3600.0,3600.0,36.0,735,739,737.0